---
import { Image } from "astro:assets";
import { markdownify } from "@/lib/utils/textConverter";
const { cta } = Astro.props;
---

<!-- Cta -->
<section class="cta">
  <div class="container">
    <div class="row px-3">
      <div class="mx-auto lg:col-8">
        <div class="row rounded px-9 py-12 shadow lg:p-12">
          <div class="md:col-4">
            <Image
              class="mx-auto"
              src={cta.image}
              width={125}
              height={167}
              alt=""
            />
          </div>
          <div class="mt-6 text-center md:col-8 md:mt-0 md:text-start">
            <h3 class="h4 lg:text-[30px]" set:html={markdownify(cta?.title)} />
            <p class="mt-2 text-lg" set:html={markdownify(cta?.content)} />
            <a class="btn btn-primary mt-4" href={cta.button_link}
              >{cta.button_label}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /End Cta -->
