---
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const authors = await getSinglePage("authors");
const { summary_length } = config.settings;
const { post } = Astro.props;
---

<div class="card mb-12 border-b border-border pb-[30px]">
  {
    post.data.image && (
      <Image
        class="rounded-lg"
        src={post.data.image}
        alt={post.data.title}
        width={445}
        height={230}
        format="webp"
      />
    )
  }

  <h3 class="h4 mt-2">
    <a
      href={`/posts/${post.id}`}
      class="block font-normal text-primary hover:underline"
    >
      {post.data.title}
    </a>
  </h3>
  <ul class="mb-4 mt-1.5 flex flex-wrap items-center space-x-3 text-text-light">
    <li>
      {
        authors
          .filter((author) =>
            post.data.authors
              .map((author) => slugify(author))
              .includes(slugify(author.data.title))
          )
          .map((author) => (
            <a
              href={`/authors/${slugify(author.data.title)}`}
              class="flex items-center hover:text-primary hover:underline"
            >
              <span>{author.data.title}</span>
            </a>
          ))
      }
    </li>
    <li>{dateFormat(post.data.date!)}</li>
    <li>
      <ul>
        {
          post.data.categories.map((category) => (
            <li class="inline-block">
              <a
                href={`/categories/${slugify(category)}`}
                class="mr-3 hover:text-primary hover:underline"
              >
                {humanize(category)}
              </a>
            </li>
          ))
        }
      </ul>
    </li>
  </ul>
  {
    post.body && (
      <p class="text-lg text-text">
        {plainify(post.body?.slice(0, Number(summary_length)))}
      </p>
    )
  }
  <a
    class="mt-3 inline-block border-b border-primary py-1 text-[15px] leading-[22px] text-primary"
    href={`/posts/${post.id}`}>Read More</a
  >
</div>
