---
import { settings } from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Post from "@/layouts/partials/Post.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const homepage = (await getEntry(
  "homepage",
  "-index"
)) as CollectionEntry<"homepage">;
const { banner, call_to_action } = homepage.data;
const posts = await getSinglePage("posts");
const sortPostByDate = sortByDate(posts);
const totalPages = Math.ceil(posts.length / settings.pagination);
---

<Base>
  <!-- Banner -->
  <section
    class="banner"
    style="background-image: url('/images/banner/banner-bg.svg')"
  >
    <div class="container">
      <div class="row">
        <div class="lg:col-6">
          {
            banner?.title && (
              <h1 set:html={markdownify(banner?.title)} class="h2 mb-8" />
            )
          }
        </div>
      </div>
      <div class="banner-illustration">
        {
          banner?.image && (
            <Image
              src={banner.image}
              width={768}
              height={385}
              alt={banner.title}
            />
          )
        }
      </div>
    </div>
  </section>
  <!-- /End Banner -->

  <!-- Blogs -->
  <div class="section">
    <div class="container">
      <div class="row px-3">
        <div class="mx-auto px-0 lg:col-8">
          <div class="rounded py-12 px-9 shadow md:p-[60px]">
            {
              sortPostByDate
                .slice(0, settings.pagination)
                .map((post) => <Post post={post} />)
            }
            <Pagination currentPage={1} totalPages={totalPages} />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /End Blogs -->

  <Cta cta={call_to_action} />
</Base>
