---
import { Image } from "astro:assets";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Post from "./partials/Post.astro";
import { render } from "astro:content";

const { author } = Astro.props;
const { title, image } = author.data;
const { Content } = await render(author);
const posts = await getSinglePage("posts");
const filterByAuthor = posts.filter((post) =>
  post.data.authors.includes(title)
);
---

<section class="section">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-8">
        <div class="rounded py-12 px-9 text-center shadow md:p-[60px]">
          {
            image && (
              <div class="mb-8">
                <Image
                  src={image}
                  class="mx-auto rounded-full"
                  height={300}
                  width={300}
                  alt={title}
                />
              </div>
            )
          }
          <h1 set:html={markdownify(title)} class="h2 mb-8" />
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-16 justify-center">
      <div class="lg:col-8">
        <h2 class="mb-4">Posts by {title}</h2>
        <div class="rounded py-12 px-9 shadow md:p-[60px]">
          {filterByAuthor.map((post) => <Post post={post} />)}
        </div>
      </div>
    </div>
  </div>
</section>
